<a href="https://colab.research.google.com/github/tkb1902/Books/blob/main/Untitled50.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#tweet sentiment analysis
#step 1 import

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import tensorflow as tf

In [2]:
#now we get the datasets train test and sample_submission session storage
train = pd.read_csv('train.csv')
test = pd.read_csv('test (1).csv')
sample_submission = pd.read_csv('sample_submission.csv')

print(train.head())
print(test.head())
print(sample_submission.head())

       textID                                               text  \
0  cb774db0d1                I`d have responded, if I were going
1  549e992a42      Sooo SAD I will miss you here in San Diego!!!
2  088c60f138                          my boss is bullying me...
3  9642c003ef                     what interview! leave me alone
4  358bd9e861   Sons of ****, why couldn`t they put them on t...

                         selected_text sentiment
0  I`d have responded, if I were going   neutral
1                             Sooo SAD  negative
2                          bullying me  negative
3                       leave me alone  negative
4                        Sons of ****,  negative
       textID                                               text sentiment
0  f87dea47db  Last session of the day  http://twitpic.com/67ezh   neutral
1  96d74cb729   Shanghai is also really exciting (precisely -...  positive
2  eee518ae67  Recession hit Veronique Branquinho, she has to...  negative
3  01082688c6                                        happy bday!  positive
4  33987a8ee5             http://twitpic.com/4w75p - I like it!!  positive
       textID  selected_text
0  f87dea47db            NaN
1  96d74cb729            NaN
2  eee518ae67            NaN
3  01082688c6            NaN
4  33987a8ee5            NaN

In [3]:
print(train['sentiment'].value_counts())
print(train.columns)

sentiment
neutral     11118
positive     8582
negative     7781
Name: count, dtype: int64
Index(['textID', 'text', 'selected_text', 'sentiment'], dtype='object')

In [4]:
print(train['selected_text'])

0                      I`d have responded, if I were going
1                                                 Sooo SAD
2                                              bullying me
3                                           leave me alone
4                                            Sons of ****,
                               ...
27476                                               d lost
27477                                        , don`t force
27478                            Yay good for both of you.
27479                           But it was worth it  ****.
27480    All this flirting going on - The ATG smiles. Y...
Name: selected_text, Length: 27481, dtype: object

This shows us that we have 4 columns in our dataset which are text id and text and the selected text and the actual sentiment which shall be our resulgt class

In [5]:
print(train['text'].head())

0                  I`d have responded, if I were going
1        Sooo SAD I will miss you here in San Diego!!!
2                            my boss is bullying me...
3                       what interview! leave me alone
4     Sons of ****, why couldn`t they put them on t...
Name: text, dtype: object

so this data happens to contain  a number of special characters and these can pollute the model also we need to remove the spaces that are unneccesary from our data.we should also remove the urls and shift to lowercase for consistency.

In [14]:

#creating a function to clean the data by removing the urls,special characters and extra spaces
import re
def cleanData(text):
    text = re.sub(r'https?://\S+|www\.\S+', '', text,flags=re.MULTILINE)#this is removing the url components
    text = re.sub(r'<.*?>!`', '', text)#removing html
    text = re.sub(r'\s+', ' ', text)#removing extra spaces
    text = re.sub(r'[^a-zA-Z\s]', '', text)#removing special characters
    text = ' '.join(text.split())#recombining the data
    text = text.lower()
    return text

In [7]:
#our function need all the values to be text so we need to check for any missing values and stuff
print(train['text'].isnull().sum())
print(train['selected_text'].isnull().sum())
print(test['text'].isnull().sum())

1
1
0

this tells of the 3 dbs 2 of them each have 1 value missing and since the number is so minor we can just remove it

In [8]:
#removing the rows with the missing values
train = train.dropna()

In [9]:
print(train['text'].isnull().sum())
print(train['selected_text'].isnull().sum())
print(test['text'].isnull().sum())

0
0
0

In [15]:
#cleaning the data
train['text'] = train['text'].apply(cleanData)
train['selected_text'] = train['selected_text'].apply(cleanData)
test['text'] = test['text'].apply(cleanData)

In [16]:
print(train['text'].head())
print(train['selected_text'].head())
print(test['text'].head())

0                    id have responded if i were going
1           sooo sad i will miss you here in san diego
2                               my boss is bullying me
3                        what interview leave me alone
4    sons of why couldnt they put them on the relea...
Name: text, dtype: object
0    id have responded if i were going
1                             sooo sad
2                          bullying me
3                       leave me alone
4                              sons of
Name: selected_text, dtype: object
0                              last session of the day
1    shanghai is also really exciting precisely sky...
2    recession hit veronique branquinho she has to ...
3                                           happy bday
4                                            i like it
Name: text, dtype: object

0                    id have responded if i were going
1           sooo sad i will miss you here in san diego
2                               my boss is bullying me
3                        what interview leave me alone
4    sons of why couldnt they put them on the relea...
Name: text, dtype: object
0    id have responded if i were going
1                             sooo sad
2                          bullying me
3                       leave me alone
4                              sons of
Name: selected_text, dtype: object
0                              last session of the day
1    shanghai is also really exciting precisely sky...
2    recession hit veronique branquinho she has to ...
3                                           happy bday
4                                            i like it
Name: text, dtype: object

In [17]:
#after we remove all the unwanted material from our model we now make an effort to tokenize our data
#we shall perfom word tokenization to split the data into the separate words

import nltk
from nltk.tokenize import word_tokenize
nltk.download('punkt')

tokenizer = nltk.data.load('tokenizers/punkt/english.pickle')
train['tokenized_text'] = train['text'].apply(word_tokenize)
train['tokenized_selected_text'] = train['selected_text'].apply(word_tokenize)
test['tokenized_text'] = test['text'].apply(word_tokenize)

print(train['tokenized_text'].head())
print(train['tokenized_selected_text'].head())
print(test['tokenized_text'].head())

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

0            [id, have, responded, if, i, were, going]
1    [sooo, sad, i, will, miss, you, here, in, san,...
2                         [my, boss, is, bullying, me]
3                  [what, interview, leave, me, alone]
4    [sons, of, why, couldnt, they, put, them, on, ...
Name: tokenized_text, dtype: object
0    [id, have, responded, if, i, were, going]
1                                  [sooo, sad]
2                               [bullying, me]
3                           [leave, me, alone]
4                                   [sons, of]
Name: tokenized_selected_text, dtype: object
0                        [last, session, of, the, day]
1    [shanghai, is, also, really, exciting, precise...
2    [recession, hit, veronique, branquinho, she, h...
3                                        [happy, bday]
4                                        [i, like, it]
Name: tokenized_text, dtype: object

In [18]:
#after tokenization we perform label encoding
#it is used to convert categorical data into numerical format
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train['sentiment'] = le.fit_transform(train['sentiment'])
print(train['sentiment'].head())

0    1
1    0
2    0
3    0
4    0
Name: sentiment, dtype: int64

In [ ]:
#now we procced to create our model
model = ten

In [ ]:
#